#background {
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    position: fixed;
    z-index: -10;
}

/* Item Page */
#item-container {
    padding-top: 10vh;
    margin: 0 10vw;
}

.item-list {
    display: grid;
    gap: 13px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-content: space-evenly;
}

.item {
    position: static;
    border-radius: 8px;
    background-color: whitesmoke;
    border: 1px solid transparent;
    box-shadow: none;
    cursor: pointer;
    transition: border 0.3s ease-in-out;
}

.item:hover {
    box-shadow: #3a3a3a;
    border: 1px solid #8d4242;
}

.item img {
    width: 95%;
    vertical-align: middle;
    margin: 5px;
    display: inline-block;
    border-radius: 8px;
}

.item-describe {
    display: grid;
    margin: 0.2rem 1rem 0.8rem;
    grid-template: "header header"
                   "left right";
    grid-template-columns: calc(100% - 6rem) 6rem;
    grid-template-rows: 1.6rem 1rem;
}

.item-name {
    grid-area: header;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: large;
}

.item-price {
    grid-area: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-cart {
    color: dodgerblue;
    grid-area: right;
    text-align: right;
}

#cart {
    width: 15vh;
    height: 15vh;
    position: fixed;
    bottom: 0;
    right: 0;
}

#cart > img {
    width: 85%;
    cursor: pointer;
}

/* Detail Page */
#detail-container {

}

/* Cart Page */
#cart-container {
    width: clamp(350px, 40vw, 500px);
    height: 88vh;
    bottom: calc(12vh / 2);
    right: 3vw;
    display: grid;
    grid-template-areas: "up"
                         "mid" /* consider left right ?*/
                         "low";
    grid-template-rows: 58px 1fr 60px;
    grid-template-columns: clamp(350px, 40vw, 500px);
    position: fixed;
    background-color: whitesmoke;
    border-radius: 8px;
    z-index: 99;
}

#cart-container > header {
    margin: 1rem;
    grid-area: up;
}

#cart-container > header > p {
    width: calc(100% - 25px);
    font-size: larger;
    font-weight: bold;
    display: inline-block;
}

#cart-container > header > img {
    width: 25px;
    display: inline-block;
    float: right;
}

#cart-list {
    overflow-y: scroll;
    grid-area: mid;
}

.cart-item {
    width: 100%;
    display: flex;
}

.cart-item > img {
    width: clamp(90px, 30%, 120px);
    max-width: 120px;
    vertical-align: middle;
    margin-right: 15px;
    display: inline-block;
}

.cart-item > div {
    width: 70%;
    vertical-align: middle;
    display: inline-block;
}

.cart-item-remove {
    margin: 5px;
}

.cart-item-remove > img {
    width: 12px;
}

.cart-item-remove > p:last-child {
    display: inline-block;
}

.cart-item-name {
    font-size: large;
    margin: 2px 0 4px;
}

.cart-item-price {
    margin-left: 0.5rem;
    display: inline-block;
}

.cart-item-number {
    width: clamp(75px, 30%, 100px);
    margin-top: 0.3rem;
    margin-left: 0.5rem;
}

.cart-info {
    margin: 1rem;
    display: block;
    align-items: center;
    grid-area: low;
}

.cart-info > p {
    width: calc(100% - 150px);
    font-size: large;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cart-info > button {
    width: 120px;
    height: 100%;
    display: inline-block;
    border-radius: 5px;
    border-width: 0;
    background-color: dodgerblue;
    color: white;
    float: right;
}