#background {
    background-color: lightblue;
    /*background-image: url(../img/1190230.png);*/
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    position: fixed;
    z-index: -10;
}

#container {
    --ctr-padding: 15vw;
    margin-left: var(--ctr-padding);
    padding-top: 10vh;
    height: 100vh;
    width: calc(100vw - var(--ctr-padding) * 2);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]);
    grid-template-rows: 35vh auto;
    grid-template-areas: "ri le le"
                         "do do do";
}

#container > div {
    background: white;
    box-shadow: 0 10px 12px #00000033;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-settings {
    grid-area: ri;
}

.container-settings > div {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.container-settings > div:last-child {
    text-align: center;
}

.label_cn{
    float: left;
    width: 80px;
}

.input_cn{
    float: left;
    margin-left: 10px;
    width: 80px;
}

.label_en{
    float: left;
    width: 70px;
}

.input_en{
    float: left;
    margin-left: 10px;
    width: 90px;
}

.container-import {
    grid-area: le;
}

#img-drop {
    width: 80%;
    height: 80%;
    border: 3px dashed pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-drop > label {
    margin: 0 1rem;
}

#img-drop > input {
    display: none;
}

#img-preview {
    width: 90%;
    height: 85%;
    display: none;
    align-items: center;
    overflow: hidden;
}

#img-preview > img {
    width: 60%;
}

#img-preview > div {
    margin: 0 0 0 5%;
}

#img-preview p {
    margin: 0.6rem 0;
    word-break: break-word;
}

.container-output {
    grid-area: do;
}

#output-canvas {
    width: calc(100% - 50px);
    margin: 1.2rem 1.4rem;
}